#top-bar #login-with {
    display: inline-block;
}

#top-bar .social-top img {
    width: 35px;
    height: 35px;
}

#category-nav .nav-hotline {
    left: 8%;
    top: 25px;
}

#category-nav .nav li:first-child a {
    border-left: 1px solid #eeeeee;
}

#category-nav .category {
    padding-top: 15px;
    min-height: 105px;
}

#category-nav h6 {
    text-align: center;
}

#category-nav .sub-category {
    min-height: 28px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}

#index_pages .with-nav .owl-nav {
    position: absolute;
    top: 356px;
    right: 500px;
}

#index_pages .with-nav .owl-nav .owl-prev.owl-next {
    background-color: darkgray;
}

#index_pages .with-nav .owl-nav .fa-angle-left:before.fa-angle-right:before {
    color: white;
}

#index_pages #special .owl-carousel .owl-item {
    width: 204px !important;
}

#index_pages #special .owl-stage {
    width: 4212px !important;
}

.new-tag-custom {
    left: 73% !important;
}

.top-bar {
    height: 60px;
    line-height: 60px;
}

.logout {
    margin-left: 13px;
    position: relative;
    left: 200px;
    color: turquoise;
}
